.field-wrapper-image-container {
  position: relative;
  .btn-crop,
  .btn-undo-crop {
    bottom: 1em;
    position: absolute;
    right: 1em;
    z-index: 1;
    & svg.icon {
      margin-bottom: -5px !important;
    }
  }
  .btn-undo-crop {
    bottom: 4em;
  }
}
